* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", system-ui;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
}

header {
  margin: auto 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

nav {
  display: flex;
  align-items: center;

  height: 60px;
  width: 60%;
  min-width: 360px;
  padding: 0 40px 0 40px;

  border: 1px solid #9B9B9B;
  border-radius: 30px;
}

nav ul {
  display: flex;
  justify-content: space-around;

  list-style: none;
  width: 100%;
  padding-left: 30px;
}

nav a {
  text-decoration: none;
  color: #484848;
  transition: 0.3s;

  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
}

nav a:hover {
  color: #858585;
  
}

main {
  display: flex;
  align-items: center;
  height: calc(100vh - 90px);

  background-image: url("./images/imagem-inicio.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

main > div {
  display: flex;
  flex-direction: column;
  gap: 50px;

  margin: auto 20vw;
  height: 550px;
}

.nome-cargo h1{
  font-size: 48px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.nome-cargo p{
  font-size: 18px;
}

.contatos ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.contatos ul a{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: hsla(0, 0%, 100%, 0.7);
  border: 1px solid #C4C3C3;
  border-radius: 5px;

  padding-top: 5px;

  transition: 0.2s;
}

.contatos img{
  width: 18px;
}

.contatos ul a:hover{
  background: hsla(0, 0%, 93%, 0.7);
}

#sobre {
  height: 82vh;
  padding: 60px 20vw 0 20vw;

  display: flex;
  align-items: center;
  gap: 40px;
}

.sobre-info {
  flex: 1;
  height: 70%;
}

.sobre-info p{
  margin-top: 25px;
  font-size: 16px;
  color: #131313;
}

.sobre-imagens {
  position: relative;
  flex: 1;

  height: 80%;
  margin-left: 30px;
}

.sobre-imagens img {
  width: 7vw;
  min-width: 240px;
  position: absolute;
  border-radius: 5px;
}

.sobre-imagens img:first-child {
  top: 0;
  left: 20px;
}

.sobre-imagens img:last-child {
  bottom: 0;
  right: 0;
}

#habilidades {
  padding-top: 30px;
  margin: auto 20vw;
  height: 60vh;
}

#habilidades h2{
  margin-top: 40px;
}

#habilidades > div{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 120px;
  gap: 25px;

  text-align: center;
}

.habilidades-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;

  padding: 20px;
  height: 320px;

  border-radius: 5px;
  transition-duration: 0.3s;
}

.circle {
  margin-bottom: 20px;

  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #CD6C6F;
}

.habilidades-card p{
  font-size: 14px;
  color: #6D7280;
}

.habilidades-card:hover {
  transform: translateY(-20px);
  cursor: pointer;
}

#experiencia {
  margin: auto 20vw;
  height: 70vh;
}

#experiencia > div{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80%;
  width: 100%;

  margin-top: 80px;
}

.experiencia-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

.experiencia-card {
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 15px 12px;

  height: 180px;
  width: 300px;

  border: 1px solid #252525;
  border-radius: 5px;

  transition: 0.3s;
}

.experiencia-cargo h4{
  font-weight: 600;
}

.experiencia-cargo p{
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}

.experiencia-descricao p{
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.experiencia-linguagens{
  width: 75%;
}

.experiencia-linguagens ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0px 5px;

  font-size: 11px;
  font-weight: 500;
  text-decoration: underline;
}

.experiencia-card img {
  position: absolute;
  bottom: 0;
  right: 15px;
}

.experiencia-card:first-of-type {
  margin-bottom: 40px;
  align-self: flex-end;
}

.experiencia-card:last-of-type {
  margin-top: 40px;
  align-self: flex-start;
}

.experiencia-card:hover {
  cursor: pointer;
  transform: translateY(-20px);
}

.experiencia-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100%;
  width: 2px;
  background: linear-gradient(0deg, rgba(114,44,138,0) 0%, rgba(198,197,197,1) 28%, rgba(198,197,197,1) 72%, rgba(29,29,29,0) 100%);
}

.line-circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;

  background: #fff;
  border: 2px solid #252525;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 90vh;
  background: url("./images/imagem-footer.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

footer > div {
  height: 20vh;
  width: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: hsla(0, 0%, 100%, 0.705);
  box-shadow: 0px -100px 100px hsla(0, 0%, 100%, 0.705);
}

.footer-contatos {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  margin-bottom: 20px;
  z-index: 10;
}

.footer-line {
  height: 1px;
  border-radius: 2px;
  width: 80%;
  background-color: #D2D5DA;
}

.footer-info ul{
  display: flex;
  gap: 24px;
  list-style: none;

}

.footer-info ul a{
  color: #7f8491;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;

  transition: 0.3s;
}

.footer-info p{
  font-size: 12px;
  font-weight: 500;
  color: #7f8491;
}

.footer-info ul a:hover{
  color: #737781;
}

@media (max-width: 1280px) {
  nav a {
    font-size: 13px;
    margin: 0;
  }

  #sobre {
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .sobre-imagens {
    display: none;
  }

  #habilidades {
    align-items: center;
    height: 100%;
    margin-bottom: 40px;
  }

  #habilidades > div{
    flex-direction: column;
  }

  .habilidades-card{
    width: 40vw;
    min-width: 250px;
  }

  #experiencia {
    height: 100%;
  }

  .experiencia-cards {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }

  .experiencia-card:first-of-type {
    margin-bottom: 0;
    align-self: center;
  }
  
  .experiencia-card:last-of-type {
    margin-top: 0;
    align-self: inherit;
  }

  .experiencia-line {
    display: none;
  }

  footer {
    height: 55vh;
  }

}

@media(max-width: 540px) {
  nav {
    min-width: 280px;
    font-size: 11px;
    margin: 0;
    padding: 0;
  }

  #sobre p{
    font-size: 13px;
  }

  footer {
    height: 40vh;
  }
}